/* .fancybox-content{
    display: inline-block;
    max-width: 1200px !important;
    width: 100% !important;
    margin-top: 0px !important;
    margin-left: auto !important;
    height: 550px !important;
    margin-right: auto !important;
    top: 80px !important;

}

.fancybox-content img{
    width: 300px;
    
} */
