@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "variables";
@import "home";
@import "about";
@import "featured";
@import "skills";
@import "experience";
@import "customFancybox";
@import "portfolio";
@import "contactMe";

*{
  box-sizing: border-box;
}


body {
  line-height: 1;
  background: white;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-fluid {
  margin: 0 2%;
  padding: 0 20px;
}


header{
  width: 100%;
  position: fixed;
  overflow: hidden;
  padding: 15px 0;
  // background-color: #fff;
  // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 99;
  
  nav{
   padding: 20px;

    ul{
      display: flex;
      justify-content: center;
      font-size: 18px;
      font-weight: 400;


      li a{
        padding: 15px 25px 15px 25px;
        cursor: pointer;
        text-decoration: none !important;
        line-height: 30px;

        &:active{
          transition: all .4s ease-in-out;
          color: #000;
        }

        &:visited{
          transition: all .4s ease-in-out;
          color: #000;
        }

        &:hover{
          transition: all .4s ease-in-out;
          color: #0bceaf;
        }

      }

      a{
        color: #000 !important;

         &:visited{
          color: #000 !important;
        }

        &:active{
          color: #0bceaf !important;
        }

        &:hover{
          color: #0bceaf !important;
        }
      }

      li.active a{
        border: 2px solid #0bceaf;
        color: #0bceaf;
        border-radius: 4px;
        padding: 10px 25px;
      }

    }
  }
}

@media screen and (max-width: 600px){

  header{
      
    nav{
     padding: 10px 0;
  
      ul{
        font-size: 15px;
        font-weight: 400;
        width: 100%;
        margin: 0 auto;
        text-align: center;
  
  
        li a{
          padding: 5px 15px 5px 15px;
  
        }
  
        li.active a{
          padding: 5px 10px;
        }
  
      }
    }
  }

}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) { 

    header{
      
      nav{
       padding: 10px 0;
    
        ul{
          font-size: 12px;
          font-weight: 400;
          width: 100%;
          margin: 0 auto;
          text-align: center;
    
    
          li a{
            padding: 5px 15px 5px 15px;
    
          }
    
          li.active a{
            padding: 5px 10px;
          }
    
        }
      }
    }
 }

 @media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 
  

  header{
      
    nav{
     padding: 10px 0;
  
      ul{
        font-size: 12px;
        font-weight: 400;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        text-align: center;
  
  
        li a{
          padding: 5px 15px 5px 15px;
  
        }
  
        li.active a{
          padding: 5px 10px;
        }
  
      }
    }
  }
 }



 @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) { 

  header{
      
    nav{
     padding: 10px 0;
  
      ul{
        font-size: 12px;
        font-weight: 400;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        text-align: center;
  
  
        li a{
          padding: 5px 10px 5px 10px;
  
        }
  
        li.active a{
          padding: 5px 10px;
        }
  
      }
    }
  }


 }


